// Colores en Gradientes
$color-main: linear-gradient(#ffffff, #1f128b);
$color-draconic: linear-gradient(#000000, #a01616);
$color-imperial: linear-gradient(#f0e19e, #a86e02);
$color-vesper: linear-gradient(#753f1f, #db5622);
$color-twilight: linear-gradient(#ffffff, #619fe6);


// Colores Globales
$color-dark: #000000;
$color-mid-tone: #f9f9f9; 
$color-light: #ffffff;



